.code-box {
  border: 5px solid black;
  width: 40vw;
  margin: 5px;
}

.board {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.square {
  width: 30%;
  width: 200px;
  height: 200px;
  border: 2px solid black;
  text-align: center;
}
