body{
    background-color: #57BEE7;
}


.header{
    font-size: xxx-large;
    font-weight: bold;
    font-family: DaysOne;
    color: rgb(0, 0, 109)
}

.info{
    font-size: large;
    font-family: Verdana, sans-serif;
    color: white
}

.team{
    font-size: x-large;
    font-weight: bold;
    font-family: Verdana, sans-serif;
    color: #FFD166
}
