body{
    background-color: #57BEE7;
}


.header{
    font-size: 60px;
    font-weight: bold;
    font-family: DaysOne;
    color: rgb(0, 0, 109)
}

.improve{
    font-size: 36px;
    font-weight: bold;
    font-family: DaysOne;
    color: white
}

.gmail{
    font-size: 24px;
    color: rgb(0, 0, 109);
    text-decoration: underline;
}

.emailForm{
    font-size: 36 px;
    font-family: DaysOne;
}

.formName{
    font-family: Comic Sans MS, Comic Sans, cursive;
    font-size: 60px;
    font-weight: bold;
    color: rgb(0, 0, 109)
}

.contactForm{
    width: 120%;

}